<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}">
	<head>
<link rel="stylesheet" href="/static/css/admin.css">
</head>
<body>
	<section layout:fragment="contents">
		<div class="wrap__admin">
			<h2>배너 관리</h2>
			<form th:action="@{/banner/add}" method="post"
				enctype="multipart/form-data">
				<input type="file" name="image" required /> <input type="text"
					name="title" placeholder="제목" /> <input type="url" name="linkurl"
					placeholder="링크 URL" /> <input type="number" name="displayOrder"
					placeholder="표시 순서" />
				<button type="submit">배너 추가</button>
			</form>


			<h3>등록된 배너 목록</h3>
			<ul>
				<li th:each="banner : ${banners}"><img
					th:src="@{${banner.imagePath}}" alt="배너 이미지" />
					<p th:text="${banner.title}"></p> <a th:href="@{${banner.linkurl}}">링크</a>
					<span th:text="${banner.displayOrder}">표시 순서</span>
					<form th:action="@{/admin/banner/delete}" method="post"
						style="display: inline;">
						<input type="hidden" name="id" th:value="${banner.id}" />
						<button type="submit" onclick="return confirm('정말 삭제하시겠습니까?');">삭제</button>
					</form></li>
			</ul>
		</div>
	</section>
</body>
</html>
