<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<head>
    <meta charset="UTF-8">
    <title>게시글 상세</title>
</head>
<body>
<section layout:fragment="contents">
<main class="post__wrap__detail">
	<div class="post__wrap__commonBtn">
            <a href="" class="post__wrap__detail__list">목록</a>
            <a href="" class="post__wrap__detail__modify">수정</a>
            <a href="" class="post__wrap__detail__delete">삭제</a>
        </div>
    <div class="post__wrap__info">
        <h1 class="post__wrap__info__title" th:text="${post.title}">[구찌] 이건 찐이야 진짜</h1>
        <div class="post__wrap__info__sellerinfo">
            <div class="post__wrap__info__seller" th:text="${user.name}">진품판매자</div>
            <div class="post__wrap__info__time" th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm')}">2024-09-10 20:33</div>

        </div>
        <img th:src="${post.imagePath}" alt="게시글 이미지" />
        <div class="post__wrap__content" th:text="${cleanedContents}">이건 너무 찐이야!!</div>
    </div>
    <div class="post__wrap__reply">
            <ul class="post__wrap__reply__list">
                <li class="post__wrap__reply__items">
                    <div class="post__wrap__replyer"><span>구찌사요</span>
                        <div class="post__wrap__replyer__time">2024-10-11 19:24:01</div>
                    </div>
                    <div class="post__wrap__reply__items__btn">
                        <a href="" class="reply__update">수정</a>
                        <a href="" class="reply__delete">삭제</a>
                    </div>
                    <div class="post__wrap__reply__items__contents">
                        제2항의 재판관중 3인은 국회에서 선출하는 자를, 3인은 대법원장이 지명하는 자를 임명한다. 정당은 법률이 정하는 바에 의하여 국가의 보호를 받으며, 국가는 법률이 정하는
                        바에 의하여 정당운영에 필요한 자금을 보조할 수 있다.
                    </div>
                </li>
                <li class="post__wrap__reply__items">
                    <div class="post__wrap__replyer"><span>구찌사요</span>
                        <div class="post__wrap__replyer__time">2024-10-11 19:24:01</div>
                    </div>
                    <div class="post__wrap__reply__items__btn">
                        <a href="" class="reply__update">수정</a>
                        <a href="" class="reply__delete">삭제</a>
                    </div>
                    <div class="post__wrap__reply__items__contents">
                        제2항의 재판관중 3인은 국회에서 선출하는 자를, 3인은 대법원장이 지명하는 자를 임명한다. 정당은 법률이 정하는 바에 의하여 국가의 보호를 받으며, 국가는 법률이 정하는
                        바에 의하여 정당운영에 필요한 자금을 보조할 수 있다.
                    </div>
                </li>
            </ul>
            <div class="post__wrap__reply__article">
                <textarea cols="30" rows="10" readonly>
로그인했을때 : 댓글작성가능 
비로그인시 멘트내용 : 로그인 후 댓글 작성이 가능합니다 -> 로그인 화면으로 이동
            </textarea>
                <div class="post__wrap__reply__confirm">
                    <a href="">등록</a>
                </div>
            </div>
        </div>
</main>
</section>
</body>
</html>
