<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/default}">
        
<head>
<meta charset="UTF-8">
</head>
<body>
<section layout:fragment="contents" >
   <main class="post__wrap">
        <div class="post__wrap__header">
            <h1 class="post__title">중고 명품 마켓</h1>
            <div class="post__wrap__write">
                <a href="/post/write-view" class="post_wrap__writeBtn">글작성</a>
            </div>
        </div>
        <div class="post__wrap__content">
            <ul class="post__wrap__list">

                <li class="post__wrap__items">
                    <a href="" class="post__wrap__list_link">
                        <img src="https://via.placeholder.com/500x300?text=img" alt="Slide 9" />
                        <div class="post__wrap__title">제목이에요제목이에요제목이에요제목이에요제목이에요제목이에요제목이에요</div>
                        <div class="post__wrap__author">작성자</div>
                    </a>
                </li>
                <li class="post__wrap__items">
                <li class="post__wrap__items">
                    <a href="" class="post__wrap__list_link">
                        <img src="https://via.placeholder.com/500x300?text=img" alt="Slide 9" />
                        <div class="post__wrap__title">제목이에요제목이에요제목이에요제목이에요제목이에요제목이에요제목이에요</div>
                        <div class="post__wrap__author">작성자</div>
                    </a>
                </li>
                <li class="post__wrap__items">
                    <a href="" class="post__wrap__list_link">
                        <img src="https://via.placeholder.com/500x300?text=img" alt="Slide 9" />
                        <div class="post__wrap__title">제목이에요제목이에요제목이에요제목이에요제목이에요제목이에요제목이에요</div>
                        <div class="post__wrap__author">작성자</div>
                    </a>
                </li>
                <li class="post__wrap__items">
                    <a href="" class="post__wrap__list_link">
                        <img src="https://via.placeholder.com/500x300?text=img" alt="Slide 9" />
                        <div class="post__wrap__title">제목이에요제목이에요제목이에요제목이에요제목이에요제목이에요제목이에요</div>
                        <div class="post__wrap__author">작성자</div>
                    </a>
                </li>
                <li class="post__wrap__items">
                    <a href="" class="post__wrap__list_link">
                        <img src="https://via.placeholder.com/500x300?text=img" alt="Slide 9" />
                        <div class="post__wrap__title">제목이에요제목이에요제목이에요제목이에요제목이에요제목이에요제목이에요</div>
                        <div class="post__wrap__author">작성자</div>
                    </a>
                </li>
                <li class="post__wrap__items">
                    <a href="" class="post__wrap__list_link">
                        <img src="https://via.placeholder.com/500x300?text=img" alt="Slide 9" />
                        <div class="post__wrap__title">제목이에요제목이에요제목이에요제목이에요제목이에요제목이에요제목이에요</div>
                        <div class="post__wrap__author">작성자</div>
                    </a>
                </li>



            </ul>
        </div>
        <nav class="post__pagenation" aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">이전</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">다음</a>
                </li>
            </ul>
        </nav>
    </main>
</section>
</body>
</html>