<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}">

<head>
<meta charset="UTF-8">
<title>중고 명품 마켓</title>
</head>
<body>
	<section layout:fragment="contents">
		<main class="post__wrap">
			<div class="post__wrap__header">
				<h1 class="post__title">중고 명품 마켓</h1>
				<div class="post__wrap__write">
					<a href="/post/write-view" class="post_wrap__writeBtn">글 작성</a>
				</div>
			</div>
			<!--글의 리스트들 -->
			<div class="post__wrap__content">
				<ul class="post__wrap__list">
					<li class="post__wrap__items" th:each="post : ${posts}"><a
						th:href="@{/post/detail-view/{id}(id=${post.postId})}"
						class="post__wrap__list_link"> <img
							th:src="${post.imagePath != null && !post.imagePath.isEmpty() ? post.imagePath : '/static/images/noimages.avif'}"
							alt="게시글 이미지" class="post__image" />
							<div class="post__wrap__title" th:text="${post.title}">제목</div>
							<div class="post__wrap__author"
								th:text="'작성자: ' + ${post.userName}">작성자</div>
					</a></li>
				</ul>
			</div>
			<!-- 페이지네이션 -->
			<nav class="post__pagination" aria-label="Page navigation example">
				<ul class="pagination justify-content-center">
					<!-- 처음 버튼 -->
					<li th:classappend="${currentPage == 1} ? 'disabled'"><a
						th:href="@{/post/list-view(page=1)}" th:if="${currentPage > 1}"
						class="page-link">처음</a></li>

					<li th:classappend="${startPage == 1} ? 'disabled'"><a
						th:href="@{/post/list-view(page=${startPage - 1})}"
						th:if="${startPage > 1}" class="page-link">&lt;</a></li>

					<li th:each="i : ${#numbers.sequence(startPage, endPage)}"
						th:classappend="${i == currentPage} ? 'active'"><a
						th:href="@{/post/list-view(page=${i})}" class="page-link"
						th:text="${i}">1</a></li>
					
					<li th:classappend="${endPage == totalPages} ? 'disabled'"><a
						th:href="@{/post/list-view(page=${endPage + 1})}"
						th:if="${endPage < totalPages}" class="page-link">&gt;</a></li>

					<li th:classappend="${currentPage == totalPages} ? 'disabled'">
						<a th:href="@{/post/list-view(page=${totalPages})}"
						th:if="${currentPage < totalPages}" class="page-link">마지막</a>
					</li>
				</ul>
			</nav>

		</main>
	</section>
</body>
</html>
