<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <meta charset="UTF-8">
    <title>중고 마켓 글쓰기</title>

    <!-- Latest jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Latest Bootstrap CSS and JS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.6.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>

    <!-- Summernote CSS and JS (latest version) -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

</head>
<body>

<section layout:fragment="contents">
    <main class="post__write__wrap">
        <div class="post__write__container">
            <h1 class="post__write__title">중고 마켓 글쓰기</h1>
            <div class="post__wrap__register">
                <a href="" class="post_wrap__registerBtn">등록</a>
            </div>
        </div>
        <div>
            <form method="post" class="post__summernote">
                <div class="input-container">
                    <input required id="input" type="text" placeholder="제목을 입력하세요." class="form-control"/>
                </div>

                <textarea id="summernote" name="editordata"></textarea>
            </form>
        </div>
    </main>
</section>

<!-- Summernote Initialization Script -->
<script layout:fragment="script">
    $(document).ready(function () {
        $('#summernote').summernote({
            height: 500,
            placeholder: '내용을 입력하세요.',
            lang: 'ko-KR'  
        });
    });
</script>

</body>
</html>
