<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}">
<head>
<meta charset="UTF-8">
<title>중고 마켓 글쓰기</title>
</head>
<body>

	<section layout:fragment="contents">
		<main class="post__write__wrap">
			<div class="post__write__container">
				<h1 class="post__write__title">중고 마켓 글쓰기</h1>
				<div class="post__wrap__register">
					<button id="saveBtn" class="post_wrap__registerBtn">등록</button>
				</div>
			</div>
			<div>
				<div class="input-container">
					<input id="titleInput" required type="text"
						placeholder="제목을 입력하세요." class="form-control" />
				</div>
				<textarea class="contentsInput" id="summernote" name="editordata"></textarea>
			</div>
		</main>
	</section>

	<script layout:fragment="script">
    $(document).ready(function () {
    	
    	// 사진담을거 배열로 추가
        window.imageUrls = []; 

        $('#summernote').summernote({
            height: 500,
            placeholder: '내용을 입력하세요.',
            lang: 'ko-KR',
            callbacks: {
                onImageUpload: function(files) {
                    for (let i = 0; i < files.length; i++) {
                        uploadImage(files[i]);
                    }
                }
            }
        });

        function uploadImage(file) {
            let data = new FormData();
            data.append("file", file);
            $.ajax({
                url: '/post/upload-image',
                type: 'POST',
                data: data,
                contentType: false,
                processData: false,
                success: function(response) {
                    $('#summernote').summernote('insertImage', response.imageUrl);
                    window.imageUrls.push(response.imageUrl);
                },
                error: function() {
                    alert('이미지 업로드 실패');
                }
            });
        }
    });

    // 게시글 작성 및 업로드 처리
    $("#saveBtn").on("click", function() {
        let title = $("#titleInput").val();
        let contents = $('#summernote').summernote('code');

        if (title.trim() === "") {
            alert("제목을 입력하세요");
            return;
        }

        if (contents.trim() === "") {
            alert("내용을 입력하세요");
            return;
        }
        // 배열의 최근의 추가된 사진을 가져옴
        let imagePath = window.imageUrls.length > 0 ? window.imageUrls[window.imageUrls.length - 1] : ""; 

        let formData = new FormData();
        formData.append("title", title);
        formData.append("contents", contents);
        formData.append("imagePath", imagePath);

        $.ajax({
            type: "post",
            url: "/post/create",
            data: formData,
            enctype: "multipart/form-data",
            processData: false,
            contentType: false,
            success: function(response) {
                if (response.result === "success") {
                    location.href = "/post/list-view";
                } else {
                    alert("글 작성 실패");
                }
            },
            error: function() {
                alert("글 작성 중 에러 발생!");
            }
        });
    });
</script>


</body>
</html>
