<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
<meta charset="UTF-8">
</head>
<body>
  <section layout:fragment="contents">
        <div class="wrap">
            <div class="wrap__interface">
                <div class="wrap__interface__login">
                    <h1 class="login__title">비밀번호 찾기</h1>
                    <form id="findPasswordForm" method="post" action="/user/find-password">
                        <div class="textbox">
                            <label class="textbox__subtitle">이메일</label>
                            <input type="email" placeholder="abce@relux.com" required name="email" id="emailInput">
                        </div>
                        <button type="submit" class="btn" id="loginBtn">비밀번호 찾기</button>
                    </form>
                    <div class="message">
                        <p>계정이 있으신가요? <a href="/user/login-view">로그인</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script layout:fragment="script">
    $(document).ready(function() {
        $('#findPasswordForm').on('submit', function(event) {
            event.preventDefault();
            const email = $('input[name="email"]').val();
            
            $.ajax({
                type: 'POST',
                url: '/user/find-password', 
                data: { email: email },
                success: function(response) {
                    window.location.href = '/user/pwfind-successview'; 
                },
                error: function() {
                    alert("비밀번호 찾기 에러!"); 
                }
            });
        });
    });
</script>
</body>
</html>
