<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
<meta charset="UTF-8">
</head>
<body>
  <section layout:fragment="contents">
        <div class="wrap">
            <div class="wrap__interface">
                <div class="wrap__interface__login">
                    <h1 class="text_box__success">임시 비밀번호가 입력하신<br> 이메일로 발송되었습니다.</h1>
                    <button type="button" id="loginBtn" class="btn" onClick="location.href='/user/login-view'">로그인 하러가기</button>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
