<!DOCTYPE html>
<footer class="footer">
  <div class="footer__content">
    <div class="footer__logo">ReLux</div>
    <p class="footer__description">우리는 럭셔리를 사랑하는 마음으로 탐구할 뿐, 상업적 목적은 없습니다.</p>
    <ul class="footer__links">
      <li><a href="https://frontdevpark.tistory.com/"target=_blank style="color: #aaa !important;" >Blog | </a></li>
      <li><a href="https://github.com/bp4sp4/"target=_blank style="color: #aaa !important;">&nbsp;Github</a></li>
    </ul>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2024 ReLux. 이 사이트는 개인 프로젝트로, 상업적 이익과 무관하게 운영됩니다.</p>
  </div>
</footer>