@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.post__wrap__detail {
    margin: 0 auto;
    min-height: 100%;
    position: relative;
    max-width: 1200px;
}

.post__wrap__detail .post__wrap__info {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding-bottom: 50px;
}

.post__wrap__detail .post__wrap__info .post__wrap__info__title {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 30px;
    padding: 37px 27px 30px;
    background: #f8f8f8;
    border-bottom: 1px solid #ccc;
}

.post__wrap__detail .post__wrap__info .post__wrap__info__sellerinfo {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

.post__wrap__detail .post__wrap__info .post__wrap__info__sellerinfo .post__wrap__info__seller {
    padding: 20px 27px 20px;
}

.post__wrap__detail .post__wrap__info .post__wrap__info__sellerinfo .post__wrap__info__time {
    padding: 20px 27px 20px;
    font-family: "Noto Sans", sans-serif;
}

.post__wrap__detail .post__wrap__info .post__wrap__content {
    margin-top: 40px;
    margin-left: 27px;
    font-size: 16px;
    margin-bottom: 40px;
    line-height: 26px;
    font-family: "Noto Sans", sans-serif;
}

.post__wrap__detail .post__wrap__reply {
    position: relative;
}

.post__wrap__detail .post__wrap__reply .post__wrap__reply__list {
    width: 100%;
}

.post__wrap__detail .post__wrap__reply .post__wrap__reply__list .post__wrap__reply__items {
    float: left;
    padding: 20px 0 0 27px;
    border-bottom: 1px solid #ddd;
}

.post__wrap__detail .post__wrap__reply .post__wrap__reply__list .post__wrap__reply__items .post__wrap__replyer {
    display: flex;
}

.post__wrap__detail .post__wrap__reply .post__wrap__reply__list .post__wrap__reply__items .post__wrap__replyer>span {
    margin-right: 10px;
}

.post__wrap__detail .post__wrap__reply .post__wrap__reply__list .post__wrap__reply__items .post__wrap__replyer .post__wrap__replyer__time {
    font-size: 12px;
    line-height: 24px;
    font-family: "Noto Sans", sans-serif;
}

.post__wrap__detail .post__wrap__reply .post__wrap__reply__list .post__wrap__reply__items .post__wrap__reply__items__btn {
    position: absolute;
    top: 20px;
    right: 19px;
}

.post__wrap__detail .post__wrap__reply .post__wrap__reply__list .post__wrap__reply__items .post__wrap__reply__items__btn .reply__update {
    border-radius: 5px;
    background: #f8f8f8;
    padding: 1px 6px;
    font-size: 16px;
    border: 1px solid #ccc;
    color: #000000;
    font-family: "Noto Sans", sans-serif;
}

.post__wrap__detail .post__wrap__reply .post__wrap__reply__list .post__wrap__reply__items .post__wrap__reply__items__btn .reply__update:hover {
    background-color: #ccc;
}


.post__wrap__detail .post__wrap__reply .post__wrap__reply__list .post__wrap__reply__items .post__wrap__reply__items__btn .reply__delete {
    border-radius: 5px;
    background: #f8f8f8;
    border: 1px solid #ccc;
    color: #000000;
    padding: 1px 6px;
    font-size: 16px;
    font-family: "Noto Sans", sans-serif;
}

.post__wrap__detail .post__wrap__reply .post__wrap__reply__list .post__wrap__reply__items .post__wrap__reply__items__btn .reply__delete:hover {
    background-color: #ccc;
}




.post__wrap__detail .post__wrap__reply .post__wrap__reply__list .post__wrap__reply__items .post__wrap__reply__items__contents {
    width: 100%;
    padding-bottom: 30px;
    margin: 20px 0 10px 0;
    font-family: "Noto Sans", sans-serif;
    line-height: 23px;
}

.post__wrap__detail .post__wrap__reply .post__wrap__reply__article {
    height: 178px;
    display: flex;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    flex-direction: column;
}

.post__wrap__detail .post__wrap__reply .post__wrap__reply__article textarea {
    margin: 10px;
    padding: 20px;
    height: 60%;
    border: none;
    resize: none;
    font-family: "Noto Sans", sans-serif;
}

.post__wrap__detail .post__wrap__reply .post__wrap__reply__article .post__wrap__reply__confirm {
    display: flex;
    justify-content: right;
}

.post__wrap__detail .post__wrap__reply .post__wrap__reply__article .post__wrap__reply__confirm>a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 40px;
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
    font-family: "Noto Sans", sans-serif;
}

.post__wrap__detail .post__wrap__reply .post__wrap__reply__article .post__wrap__reply__confirm>a:hover {
    background-color: #ccc;
}